body {
  padding-top: 70px;
}

.td-right {
  text-align: right;
}
/*
.btn-group {
    visibility:hidden;
}

table tr:hover .btn-group {
    visibility:visible;
}*/

.pieLabel {
  font-family: inherit;
  font-size: 0.8em;
}

.no-margin-padding {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.table-nutrient {
  font-size: 0.8em;
  margin-bottom: 0;
}

.table-nutrient tbody tr td {
  padding: 2px;
}

.datepicker {
  padding: 0;
}

.calendar-panel {
  padding-left: 0;
  padding-right: 0;
}

.day {
  font-size: 0.8em;
  /*padding: 1px;*/
}

@media (max-width: 760px) {
  body {
    font-size: 1.1em;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }
}