{% extends "log/idx.html" %}

{% load custom_tags %}



{% block title %}
  {{ object.day | date:"d. M, Y" }}
{% endblock title %}


{% block content %}
  <h2>
    <span class="" display="list-item">{{ object.day | date:"d. M Y" }}</span>
    <span class="" display="list-item"><small><span id="cals">{{ object.cals }}</span> of <span id="max_cal">{{ object.max_cal }}</span> kcal</small></span>
  </h2>
  {% with cals_by_meal=object.cals_by_meal amount_by_meal=object.amount_by_meal %}
    {% for meal in object.servings_by_meal %}
      <p>
        <table class="table-meal table-condensed table">
          <thead>
            <tr>
              <th>
                {{ meal.0 }}&nbsp;&nbsp;
                <div class="btn-group hover-visible">
                  <button type="button" class="open-add-serving btn btn-default btn-xs" data-toggle="modal" data-target="#add-serving-modal" data-meal="{{ meal.0 }}">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </div>
              </th>
              <th class="td-right"><span id="{{ meal.0 }}-amount">{{ amount_by_meal | getkey:meal.0 }}</span> g</th>
              <th width="80" class="td-right"><span id="{{ meal.0 }}-cals">{{ cals_by_meal | getkey:meal.0 }}</span> kcal</th>
            </tr>
          </thead>
          <tbody id="{{ meal.0 }}" >
            {% for serving in meal.1 %}
              <tr id="{{ serving.pk }}">
                <td>
                  {{ serving.food.text }}&nbsp;&nbsp;
                  <div class="btn-group hover-visible">
                    <button type="button" class="open-edit-serving btn btn-default btn-xs" data-toggle="modal" data-target="#edit-serving-modal" data-serving="{{ serving.pk }}" data-amount="{{ serving.amount }}">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="remove-serving-button btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>  
                </td>
                <td class="td-right"><span class="amount">{{ serving.amount }}</span> g</td>
                <td class="td-right"><span class="cals">{{ serving.cals }}</span> kcal</td>
              </tr>
            {% endfor %}  
          </tbody>
        </table>
      </p>
    {% endfor %}
  {% endwith %}

  <div class="modal active" id="add-serving-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add serving</h4>
        </div>
        <form id="add_serving_form" class="form-horizontal" role="form">
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" id="meal" name="meal" value="" />
            <div class="form-group">
              <div class="col-sm-12"><input type="text" class="form-control input-sm" id="food_query" name="food_query" /></div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" name="food-result-list" id="food-result-list" size="6">
                </select>
              </div>
            </div>
            <div class="form-group">
              {# <label for="food">Food</label> #}
              <input type="hidden" class="form-control" id="food_id" name="food_id" />
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="amount">Amount</label>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="number" class="form-control input-sm" id="add_amount" name="amount" />
                  <span class="input-group-addon">gram</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" id="add_serving_submit" value="Add" class="btn btn-primary" disabled="disabled"/>
          </div>
        </form> 
      </div>
    </div>
    <script>
      // Set selected food_id to hidden field
      $('#food-result-list').change( function() {
        var id = $('#food-result-list option:selected').attr('id');
        $('#food_id').val(id);
        checkAddServingState();
      })

      // Make an AJAX request and populate listbox with search results
      $('#food_query').keyup(function() {
        var food_query = $('#food_query').val();
        $('#food-result-list').empty(); // Clear list
        if (food_query.length < 1) {
          $('#food_id').val('');
          return;
        }
        $.post("/foodlog/food/search/", {food_query: $("#food_query").val()})
          .done( function(data) {
            for (var i = 0; i < data.length; i++) {
              var food_obj = data[i];
              var option = '<option style="font-size: 8px;" id="' + food_obj.pk + '">' + food_obj.fields.text + '</option>';
              $('#food-result-list').append(option);
            }
            $("#food-result-list option:first").attr('selected','selected');
            $('#food_id').val($('#food-result-list option:selected').attr('id'));
          });
      });

      $('#add_serving_form').submit(function() {
        // prevent default browser behaviour
        event.preventDefault();
        var meal = $('#meal').val();
        var food_id = $('#food_id').val();
        var amount = $('#add_amount').val();
        var url = document.URL + "serving/add/";
        var input = {meal: meal, food_id: food_id, amount: amount};
        $.post(url, input).done(function(data) {
          var serving_obj = JSON.parse(data.serving_obj)[0];
          var amount = serving_obj.fields.amount;
          var cals = data.cals;
          var pk = serving_obj.pk
          var food_text = data.food_text;
          var row = '<tr id="' + pk + '"> \
              <td> \
                ' +  food_text +'&nbsp;&nbsp; \
                <div class="btn-group hover-visible"> \
                  <button type="button" class="open-edit-serving btn btn-default btn-xs" data-toggle="modal" data-target="#edit-serving-modal" data-serving="' + pk + '" data-amount="' + amount + '"> \
                    <span class="glyphicon glyphicon-edit"></span> \
                  </button> \
                  <button type="button" class="remove-serving-button btn btn-default btn-xs"> \
                    <span class="glyphicon glyphicon-remove"></span> \
                  </button> \
                </div> \
              </td> \
              <td class="td-right"><span class="amount">' + amount +'</span> g</td> \
              <td class="td-right"><span class="cals">' + cals +'</span> kcal</td> \
            </tr>';
          $('#' + meal).append(row);
          updateServingButtons();
          updateDayInfo();
          $('#add_amount').blur();
          $('#add-serving-modal').modal('hide');
        });
      });

      // Reset and focus on the foodbox
      $('#add-serving-modal').on('shown.bs.modal', function (e) {
        $('#food_query').val('');
        $('#add_amount').val('');
        $('#food-result-list').empty();
        $('#food_query').focus();
      });

      // Activate submit when input is correct
      $("#add_amount").keyup(function() {
        checkAddServingState();
      });

    </script>
  </div>

  <div class="modal" id="edit-serving-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit serving</h4>
        </div>
        <form id="edit_serving_form" class="form-horizontal" role="form" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <input type="hidden" id="serving_id" name="serving_id" value="" />
            <div class="form-group">
              <label class="col-sm-2 control-label" for="edit_amount">Amount</label>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="number" class="form-control input-sm" id="edit_amount" name="edit_amount" />
                  <span class="input-group-addon">gram</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" id="edit_serving_submit" value="Save" />
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      // Focus on the foodbox
      $('#edit-serving-modal').on('shown.bs.modal', function (e) {
        $('#edit_amount').focus();
      });

      // Use ajax to edit the serving's amount and update ui with changes accordingly.
      $('#edit_serving_form').submit(function() {
        // prevent default browser behaviour
        event.preventDefault();
        var serving_id = $('#serving_id').val();
        var amount = $('#edit_amount').val();
        var serving_row = $('#' + serving_id);
        var url = document.URL + 'serving/edit/';
        var input = {serving_id: serving_id, amount: amount};
        $.post(url, input).done(function(data) {
          var serving_obj = JSON.parse(data.serving_obj);
          var amount = serving_obj[0].fields.amount;
          var cals = data.cals;
          serving_row.find(".amount").text(amount);
          serving_row.find(".cals").text(cals);
          serving_row.find(".open-edit-serving").attr('data-amount', amount);
          updateDayInfo();
          $('#edit_amount').blur();
          $('#edit-serving-modal').modal('hide');
        });
      });

      // Activate submit when input is correct
      $("#edit_amount").keyup(function() {
        var amount = $('#edit_amount').val();
        if (amount) {
          $('#edit_serving_submit').prop('disabled', false);
        } else {
          $('#edit_serving_submit').prop('disabled', true);
        }
      });
    </script>
  </div>  




{% endblock content %}