{% extends "log/idx.html" %}

{% load custom_tags %}


{% block title %}
  {{ object.day | date:"d. M, Y" }}
{% endblock title %}


{% block content %}
  <ul class="pager">
    <li class="previous">
      {% with prev_day=object.prev_day %}
        <a href="{% url 'foodlog:day' year=prev_day.year month=prev_day.month day=prev_day.day %}">&larr; Previous day</a>
      {% endwith %}
    </li>
    <li class="next">
      {% with next_day=object.next_day %}
        <a href="{% url 'foodlog:day' year=next_day.year month=next_day.month day=next_day.day %}">Next day &rarr;</a>
    {% endwith %}
    </li>
  </ul>

  {% comment %}
  <div class="pull-left">
    {% with prev_day=object.prev_day %}
      <a href="{% url 'foodlog:day' year=prev_day.year month=prev_day.month day=prev_day.day %}">Previous day</a>
    {% endwith %}
  </div>
  <div class="pull-right">
    {% with next_day=object.next_day %}
      <a href="{% url 'foodlog:day' year=next_day.year month=next_day.month day=next_day.day %}">Next day</a>
    {% endwith %}
  </div>   
  {% endcomment %}

  <h1>{{ object.day | date:"d. M Y" }}  <small>{{ object.cals }} of {{ object.max_cal }} kcal</small></h1>
  {% with cals_by_meal=object.cals_by_meal amount_by_meal=object.amount_by_meal %}
    {% for meal in object.servings_by_meal  %}
      <p>
        <table class="table-hover table-condensed table ">
          <thead>
            <tr>
              <th>
                {{ meal.0 }}&nbsp;&nbsp;
                <div class="btn-group">
                  <button type="button" class="open-add-serving btn btn-default btn-xs" data-toggle="modal" data-target="#add-serving-modal" data-meal="{{ meal.0 }}">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </div>
              </th>
              <th width="100" class="td-right">{{ amount_by_meal | getkey:meal.0 }} g</th>
              <th width="100" class="td-right">{{ cals_by_meal | getkey:meal.0 }} kcal</th>
            </tr>
          </thead>
          <tbody>
            {% for serving in meal.1 %}
              <tr>
                <td>
                  {{ serving.food }}
                  {% comment %}
                  <div class="btn-group">
                    <form action={% url 'foodlog:remove_serving' object.day.year object.day.month object.day.day %}" method="POST">
                    </form>
                    <button type="button" class="open-add-serving btn btn-default btn-xs" data-toggle="modal" data-target="#remove-serving-modal" data-food-id="{{ serving.pk }}">
                      <span class="glyphicon glyphicon-delete"></span>
                    </button>
                  </div>  
                  {% endcomment %}
                </td>
                <td class="td-right">{{ serving.amount }} g</td>
                <td class="td-right">{{ serving.cals }} kcal</td>
              </tr>
            {% endfor %}  
          </tbody>
        </table>
      </p>
    {% endfor %}
  {% endwith %}

  <div class="modal" id="add-serving-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add serving</h4>
        </div>
        <form class="form-horizontal" role="form" action="{% url 'foodlog:add_serving' object.day.year object.day.month object.day.day %}" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" id="meal" name="meal" value="" />
            <div class="form-group">
              <div class="col-sm-12"><input type="text" class="form-control input-sm" id="food_query" name="food_query" /></div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" name="food-result-list" id="food-result-list" size="6">
                </select>
              </div>
            </div>
            <div class="form-group">
              {# <label for="food">Food</label> #}
              <input type="hidden" class="form-control" id="food_id" name="food_id" />
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="amount">Amount</label>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="number" class="form-control input-sm" id="amount" name="amount" />
                  <span class="input-group-addon">gram</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" value="Add" class="btn btn-primary" />
          </div>
        </form> 
      </div>
    </div>
    <script>


      // Set selected food_id to hidden field
      $('#food-result-list').change( function() {
        var id = $('#food-result-list option:selected').attr('id');
        $('#food_id').val(id);
      });

      // Make an AJAX request and populate listbox with search results
      $('#food_query').keyup(function() {
        var food_query = $('#food_query').val();
        $('#food-result-list').empty(); // Clear list
        if (food_query.length < 1) {
          $('#food_id').val('');
          return;
        }
        $.post("/foodlog/food/search/", {food_query: $("#food_query").val()})
          .done( function(data) {
            var food_list = JSON.parse(data);
            for (var i = 0; i < food_list.length; i++) {
              var food_obj = food_list[i];
              var option = '<option style="font-size: 8px;" id="' + food_obj.pk + '">' + food_obj.fields.text + '</option>';
              $('#food-result-list').append(option);
            }
            $("#food-result-list option:first").attr('selected','selected');
            $('#food_id').val($('#food-result-list option:selected').attr('id'));
          });
      });

      // Focus on the foodbox
      $('#add-serving-modal').on('shown.bs.modal', function (e) {
        $('#food_query').focus();
      });
    </script>
  </div>

  




{% endblock content %}