<!DOCTYPE html>
{% load staticfiles %}


<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{% static "log/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "log/css/jquery.jqplot.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "log/css/style.css" %}">
    <script type="text/javascript" src="{% static "log/js/jquery-2.0.3.js" %}"></script>
    <script type="text/javascript" src="{% static "log/js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "log/js/flot/jquery.flot.js" %}"></script>
    <script type="text/javascript" src="{% static "log/js/flot/jquery.flot.pie.js" %}"></script>
    <!--<script type="text/javascript" src="{% static "log/js/jquery.jqplot.js" %}"></script>
    <script type="text/javascript" src="{% static "log/js/jqplot.pieRenderer.min.js" %}"></script>-->
    <script type="text/javascript" src="{% static "log/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "log/js/custom.js" %}"></script>
    <title>Foodlog - {% block title %} {% endblock title %}</title>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/foodlog">Foodlog</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/foodlog">Log</a></li>
            <li><a href="/foodlog/food">Food</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br />
    
    <div class="container content">
      <div class="main-content col-lg-8">
      {% block content %}
        
      {% endblock content %}
      </div>
      <div class="right-sidebar col-lg-4">
        <br />
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Nutrient distribution</h3>
          </div>
          <div class="panel-body">
            <div class="col-lg-6 no-margin-padding" id="macro-nutrients-piechart"></div>

            <div class="col-lg-6 no-margin-padding" id="macro-nutrients-barchart">
              asdfnsdlkf sdfl ksj flks jflsk dfjsd lfksd lksjl kj lk jl ksdj k jsl kj lk  lk jsl dkj kl
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>